*{
  padding:0;
  margin:0;
}
html, body{
  overflow-x: hidden;
}

.container-structur{
  width:100vw;
  min-height:100vh;
  height:auto;
  display:flex;
}

.navigation{
  min-height:100vh;
  width:75px;
  background:#161616;
  display:flex;
  flex-direction: column;
}

.main-content{
  width: calc(100% - 75px);
  background:#e5dede;
}

.nav_square{
  height:75px;
  width:75px;
  background:rgba(43, 109, 209, 0.7);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color:#e5dede;
}

.profile_username_tab{
  width:100%;
  height:75px;
  box-shadow: 0px 3px 2px #727272;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  color: #212121;
}

.profile_username_tab h2{
  font-family:'Lato';
  margin: 0px 10px;
}

.classes{
  width:100%;
  display:flex;
  justify-content: center;
  margin-top:100px;
  font-family: 'Lato';
  color:#212121;
}

.class_container{
  width:80%;
  height:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxbox{
  width:400px;
  display:flex;
  height:150px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0px 3px 2px #727272;
  margin: 10px;
}

.boxbox_color{
  width:10px;
  height:100%;
  background:rgb(43, 109, 209);
  border-radius: 9px 0px 0px 9px;
}

.boxbox_content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 10px);
  height:100%;
  background:#fdfdfd;
  border-radius: 0px 9px 9px 0px;
}

.boxbox_content h3{
  font-size: 1.5em;
  padding:5px 10px;
  font-weight: bold;
}

.boxbox_content h3:nth-child(2), .boxbox_content h3:nth-child(3),  .boxbox_content h3:nth-child(4){
  font-size: 1em;
  color:#635e5e;
}
